%section#top-header.row
  %h1.col-sm-2
    - if signed_in?
      = link_to "MyFLiX", home_path
    - else
      = link_to "MyFLiX", root_path
  - if signed_in?
    %ul.col-sm-5.clearfix
      %li= link_to "Videos", videos_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
      %li= link_to "Advanced Search", advanced_search_videos_path
    .form-group.col-sm-3.title_search
      = form_tag(search_videos_path, method: "get", class: "navbar-form") do
        = search_field_tag("query1", params[:query1], type: :text, placeholder: "Search by title", class: "form-control")
        = button_tag(id: "Title Search", type: "submit", class: 'btn btn-primary') do
          %span.glyphicon.glyphicon-search
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, #{current_user.name}
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              %a(href="#") Plan and Billing
              %a= link_to "Sign Out", sign_out_path
